
  

<ion-content class="ion-padding" color="light">

<ion-card >
  <ion-toolbar class="ion-text-center">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/men/10.jpg">
      </ion-avatar>
      <ion-label>Fernando Bruno</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-card> <br>

<ion-card class="margem">
  <ion-item class="margem">
    <ion-label>Email:</ion-label>
    <ion-input placeholder="teste@hotmail.com"></ion-input>
  </ion-item> 

  <ion-item class="margem">
    <ion-label>Usuario:</ion-label>
    <ion-input placeholder="Teste"></ion-input>
  </ion-item>

  <ion-item class="margem">
    <ion-label>Sexo:</ion-label>
    <ion-input placeholder="Masculino"></ion-input>
  </ion-item>

  
  
  <ion-item class="ion-text-center">
    <ion-label>Tipos de Pagamentos</ion-label>
  </ion-item>
  

</ion-card>




</ion-content>
