.conta{
    border: solid 1px#CFC6C0;
    color: #262626;
    border-radius: 10cm;
}
ion-input{
    margin-left: 10px;
    font-family: 'Merriweather', serif;

}




  ion-toolbar{
    --ion-background-color:#FFFFFF;
  }


  ion-card{
      --ion-background-color: #FFFFFF;
  }
.margem{
   
    font-family: 'Nunito', sans-serif;
}