ion-Header{
    --ion-background-color :#0468BF;
    font-family: 'Merriweather', serif;
  }


  ion-toolbar{
   --ion-background-color :#0468BF;
  }

  ion-card{
    --ion-background-color:white;
  }