<ion-header>
</ion-header>



<ion-content class="ion-no-padding"> 
  <h1>Agendamento</h1>
  <ion-card>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" >
         <ion-avatar>
           <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="">
         </ion-avatar>
        </ion-col>
        <ion-col size="6">
          Nome: João <br>
          Area: Cabeleleiro
        </ion-col>
      </ion-row>

    </ion-grid>
   

    <ion-item>
      <ion-label color="medium"  > Nome</ion-label>
      <ion-input [(ngModel)]='newNome'></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label color="medium"  > Data</ion-label>
      <ion-datetime monthValues="1,2,3,4,5,6,7,8,9,10,11,12" yearValues="2020,2021"  displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]='newData'></ion-datetime>
    </ion-item> <br>

    <ion-item>
      <ion-label color="medium"  > Insira o serviço</ion-label>
      <ion-select [(ngModel)]='newService'>
        <ion-select-option >Corte Cabelo</ion-select-option>
        <ion-select-option >Corte Barba</ion-select-option>
      </ion-select>
    </ion-item> <br>

    <br>
  <div class="agendar">
    <ion-button color=" #02575e" expand="block" (click)="save()">Cadastrar</ion-button>
  </div>

  </ion-card>
</ion-content>