<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-no-padding"> 

  <ion-card>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" >
         <ion-avatar>
           <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="">
         </ion-avatar>
        </ion-col>
        <ion-col size="6">
          Nome: João <br>
          Area: Cabeleleiro
        </ion-col>
      </ion-row>

    </ion-grid>
   
    <ion-item>
      <ion-label >Selecionar Data</ion-label>
      <ion-select>
        <ion-select-option value="Masculino">Dia 27</ion-select-option>
        <ion-select-option value="Feminino">Dia 30</ion-select-option>
      </ion-select>
    </ion-item> <br>





    <ion-item>
      <ion-label >Serviço</ion-label>
      <ion-select>
        <ion-select-option value="Masculino">Corte Cabelo</ion-select-option>
        <ion-select-option value="Feminino">Corte Barba</ion-select-option>
      </ion-select>
    </ion-item> <br>


    <ion-item>
      <ion-label >Horario</ion-label>
      <ion-select>
        <ion-select-option value="Masculino">8:00</ion-select-option>
        <ion-select-option value="Feminino">9:00</ion-select-option>
      </ion-select>
    </ion-item> <br>









  



    <ion-textarea   placeholder=" Alguma Observação?"></ion-textarea> <br>

  </ion-card>

  <ion-buttons class="ion-justify-content-center">
    <ion-button color="success" >Cadastrar</ion-button>
  </ion-buttons>

</ion-content>
