<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-no-padding"> 

  <ion-card>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" >
         <ion-avatar>
           <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="">
         </ion-avatar>
        </ion-col>
        <ion-col size="6">
          Nome: João <br>
          Area: Cabeleleiro
        </ion-col>
      </ion-row>

    </ion-grid>
   
    <ion-item>
      <ion-label color="medium"  > Data</ion-label>
      <ion-datetime monthValues="10,11,12" yearValues="2020"  displayFormat="DD/MMM/YYYY" [(ngModel)]='newData'></ion-datetime>
    </ion-item> <br>





    <ion-item>
      <ion-label color="medium"  > Insira o serviço</ion-label>
      <ion-select [(ngModel)]='newService'>
        <ion-select-option >Corte Cabelo</ion-select-option>
        <ion-select-option >Corte Barba</ion-select-option>
      </ion-select>
    </ion-item> <br>


    <ion-item>
      <ion-label color="medium"  > Horario</ion-label>
      <ion-datetime displayFormat="h:mm a" [(ngModel)]='newHora'></ion-datetime>
    </ion-item> 
    
    <br>









  



    <ion-textarea   placeholder=" Alguma Observação?" [(ngModel)]='newObs'></ion-textarea> <br>

  </ion-card>

  <ion-buttons class="ion-justify-content-center">
    <ion-button color="success" (click)="save()">Cadastrar</ion-button>
  </ion-buttons>



  <pre> teste{{dados| json}}</pre>
  <pre>{{newData | json}}</pre>
  <pre>{{newService | json}}</pre>
  <pre>{{newHora| json}}</pre>
  <pre>{{newObs | json}}</pre>


</ion-content>
