

<ion-content class="no-padding">


 <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home"> 
      <ion-icon name="home"></ion-icon>
      <ionlabel> Home </ionlabel>
    </ion-tab-button>

    <ion-tab-button tab="agendamento"> 
      <ion-icon name="create"></ion-icon>
      <ionlabel> Agendamento</ionlabel>
    </ion-tab-button>





    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ionlabel>Calendario</ionlabel>
    </ion-tab-button>



    <ion-tab-button tab="conta">
      <ion-icon name="person-circle"></ion-icon>
      <ionlabel>Conta</ionlabel>
    </ion-tab-button>


  </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
