<ion-header >
  
    

</ion-header>

<img  src="https://cdn.pixabay.com/photo/2014/08/01/15/51/manhattan-407703_1280.jpg"alt="" shape="round">

<ion-content class="ion-text-center ion-padding" color="light">


  <h1>Login</h1> <br>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="Usuario">    </ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>    
    <ion-input placeholder="Senha" type="password">    </ion-input>
  </ion-item> 
    
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <a class="a" routerLink="/create">Criar Conta</a>

      </ion-col>
      <ion-col>
        <a class="a"routerLink="/forgot" size="lg">Esqueceu a senha?</a>

      </ion-col>
    </ion-row>
   
  </ion-grid>


 

  
    <ion-button color="danger" shape="round" expand="block" routerLink="/login/home">Login</ion-button>

 
</ion-content>
