<ion-header >
  
    

</ion-header>



<ion-content class="ion-text-center" color="Light">

<div class="padding">
  <h1>Login</h1> <br>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input color="light" placeholder="Usuario">    </ion-input>
  </ion-item>
  
  <br>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>    
    <ion-input color="light" placeholder="Senha" type="password">    </ion-input>
  </ion-item> 
    
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <a class="a" routerLink="/create">Criar Conta</a>

      </ion-col>
      <ion-col>
        <a class="a"routerLink="/forgot" size="lg">Esqueceu a senha?</a>

      </ion-col>
    </ion-row>
   
  </ion-grid>


 
    <ion-button color="light" fill= "outline"shape="round" expand="block" routerLink="/login/home">Login</ion-button>

    
  </div>
 
</ion-content>
