#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.a{
  text-decoration: none;
  font-size: 15px;
  color: #4791E4;
}

.form{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 30px;
  background-color: #2CBDC2;
}
.login{
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  color: black;
}

.password{
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  color: black;
}
.entrar{
  background-color: #02575e;
  border-radius: 30px;
  margin: 10px;
}

img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

ion-input{
  text-align: center;
}

ion-content{
  --ion-background-color: linear-gradient(#00a2ad,#015C61);
}

ion-item{
  --background: #2cbdc200;
}

ion-list{
  background-color: #2cbdc200;
}


h1{
  margin-top: 147px;
  position: relative;
  bottom: 55px;
  right: 100px;
  color: white;
    font-size: 39px;
}
.padding{
  padding: 5%;
}
ion-icon{
  color: white;
}
.cadastrado{
  color: white;
}