#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.a{
  text-decoration: none;
  font-size: 15px;
  color: #4791E4;
}
img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

ion-content{
  --ion-background-color: linear-gradient(#232526,#414345);
}

ion-item{
  --ion-background-color: transparent!important;
}
h1{
  margin-top: 147px;
  position: relative;
  bottom: 55px;
  right: 100px;
  color: white;
    font-size: 39px;
}
.padding{
  padding: 5%;
}
ion-icon{
  color: white;
}